eagletorch/flows.json
[{"id":"df56db4d861452cc","type":"tab","label":"OpcUA","disabled":false,"info":"","env":[]},{"id":"b6c155881a126999","type":"OpcUa-Client","z":"df56db4d861452cc","endpoint":"138b2903e03d3562","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"OPC UA","x":580,"y":360,"wires":[["ca846d95b22108d0"]]},{"id":"3315f4c04059c609","type":"inject","z":"df56db4d861452cc","name":"counter","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"packer","vt":"str"},{"p":"metric","v":"temperature","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1002;datatype=Double","payload":"","payloadType":"date","x":220,"y":140,"wires":[["b6c155881a126999"]]},{"id":"bb11b7b4834c6236","type":"inject","z":"df56db4d861452cc","name":"sawtooth","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"machine4","vt":"str"},{"p":"metric","v":"vibration","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1004;datatype=Double","payload":"","payloadType":"date","x":230,"y":200,"wires":[["b6c155881a126999"]]},{"id":"5d6aa8a04e82c57f","type":"inject","z":"df56db4d861452cc","name":"random","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"conveyer","vt":"str"},{"p":"metric","v":"vibration","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1003;datatype=Double","payload":"","payloadType":"date","x":220,"y":260,"wires":[["b6c155881a126999"]]},{"id":"3153675a4b81a580","type":"debug","z":"df56db4d861452cc","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":280,"wires":[]},{"id":"ca846d95b22108d0","type":"function","z":"df56db4d861452cc","name":"Transform OpcUa Data","func":"var isoDateString = new Date().toISOString();\n\nvar msg = {\n\"status\": 1,\n\"payload\": {\n    \"tag\": msg.topic,\n    \"value\": msg.payload,\n    \"msgid\": msg._msgid,\n    \"tagname\": msg.metric,\n    \"sentisodate\": isoDateString,\n    \"latitude\": 52.489471,\n    \"longitude\": -1.898575\n},\n\"topic\": 'sketchmyview/uk/birmingham/b152dr/' + msg.device + '/' + msg.metric\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":360,"wires":[["3153675a4b81a580","81a4322b7c39f5b5"]]},{"id":"81a4322b7c39f5b5","type":"mqtt out","z":"df56db4d861452cc","name":"EagleHub","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac9c1d7630662c15","x":1180,"y":420,"wires":[]},{"id":"9ec7bea08155554b","type":"inject","z":"df56db4d861452cc","name":"sinusoid","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"machine5","vt":"str"},{"p":"metric","v":"vibration","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1005;datatype=Double","payload":"","payloadType":"date","x":220,"y":320,"wires":[["b6c155881a126999"]]},{"id":"78fac21b61935ece","type":"inject","z":"df56db4d861452cc","name":"square","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"labeller","vt":"str"},{"p":"metric","v":"vibration","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1006;datatype=Double","payload":"","payloadType":"date","x":220,"y":380,"wires":[["b6c155881a126999"]]},{"id":"869362ad68e5322c","type":"inject","z":"df56db4d861452cc","name":"triangle","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"device","v":"prosyspacker","vt":"str"},{"p":"metric","v":"plannedstop","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"NodeId ns=3;i=1007;datatype=Double","payload":"","payloadType":"date","x":220,"y":460,"wires":[["b6c155881a126999"]]},{"id":"138b2903e03d3562","type":"OpcUa-Endpoint","endpoint":"opc.tcp://host.docker.internal:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"ac9c1d7630662c15","type":"mqtt-broker","name":"EagleHub","broker":"host.docker.internal","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]